{%  extends 'admin/base_site.html' %}
{% block content %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">

    <!-- jquery -->
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- bootstrap-table.min.js -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <!-- 引入中文语言包 -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <!--引入sweetalert插件-->
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <!--JavaScript部分-->
    <script type="text/javascript">
       $(document).ready(function() {


            $("#commit").click(function (){
                var name = $("#item_name").val();
                var price = $("#item_price").val();
                var freq = $("#frequency").val();
                var steps =[];
                var num=0;
                for(var i=0;i<$(".step").length;i++)
                {
                    num=i+1;
                    steps.push({
                       'step_num':num,'step_content':$(".step")[i].value
                    });
                }
                console.log(steps);
                 $.ajax({
                     url: "/items/api/create/",
                     type: "put",
                     dataType: "json",
                     data: JSON.stringify({
                         "item_name": name,
                         "item_price": price,
                         "frequency": freq,
                         "steps": steps
                    }),
                     success: function (data) {
                         $("#test").append("<p> 数据增加成功：" + data.text + "</p>");
                     },
                     error: function (data) {
                         $("#test").append("<p>出错了</p>");
                     }
                 })
             });


        });
    </script>

    <script type="text/javascript">
			var i=0;
			function addRow(){
				i+=1;
				var node=document.createElement("li");
				node.classList.add("input-group");
				node.classList.add("container");
				node.classList.add("form-inline");
                node.id="li" + i;
				var diver1=document.createElement("div");
				diver1.classList.add("form-group");
				diver1.setAttribute("style","float:left");
				diver1.innerHTML=i;
                var inputer=document.createElement("input");
                inputer.classList.add("step");
                inputer.classList.add("form-control");
                inputer.setAttribute("style","width:80%");
                inputer.id = i;
                var diver2=document.createElement("div");
                diver2.classList.add("form-group");
				var btn1=document.createElement("input");
				btn1.setAttribute("type","button");
                btn1.setAttribute("value","添加产品");
                btn1.setAttribute("onclick","addgoods()")
                var btn2=document.createElement("input");
				btn2.setAttribute("type","button");
                btn2.setAttribute("value","添加仪器");
                btn2.setAttribute("onclick","addinstrument()")
                diver2.appendChild(btn1);
                diver2.appendChild(btn2);
				node.appendChild(diver1);
				node.appendChild(inputer);
				node.appendChild(diver2);
				document.getElementById("a").appendChild(node);
			};
			function delRow(){
				var parent=document.getElementById("a");
				var child=document.getElementById("li"+i);
				parent.removeChild(child);
				i-=1;
			};
			function addgoods() {

            }
            function addinstrument() {
                
            }
    </script>
<style type="text/css">
    body
{
    font-family:Gill Sans MT;
    padding:10px;
}
fieldset
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}
legend
{
    padding:0px 10px;
    background:black;
    color:#FFF;
}
input.add
{
    float:right;
}
input.fieldname
{
    float:left;
    clear:left;
    display:block;
    width:500px;
    margin:5px;
}
input.stepname
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
select.fieldtype
{
    float:left;
    display:block;
    margin:5px;
}
input.remove
{
    float:left;
    display:block;
    margin:5px;
}
#yourform label
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
#yourform input, #yourform textarea
{
    float:left;
    display:block;
    margin:5px;
}
div.input-group
{
    margin-top: 30px;
}
fieldset.yourform
{
    margin-top: 30px;
}
</style>
<div class="input-group">
    <span class="label label-info" style="height:30px">项目名称</span>
    <input id="item_name" type="text"  placeholder="项目名称">
</div>
<div class="input-group">
    <span class="label label-info">价格</span>
    <input id="item_price" type="text"  placeholder="价格">
</div>
<div class="input-group">
    <span class="label label-info">次数</span>
    <input id="frequency" type="text"  placeholder="次数">
</div>
<fieldset id="buildyourform" class="yourform">
    <legend>添加步骤</legend>
	<div class="a">
			<input type="button" value="添加一行" onclick="addRow()"/>
			<input type="button" value="删除一行" onclick="delRow()"/>
			<ul id="a" class="">
			</ul>
    </div>
</fieldset>

<hr/>


<input type="button" value="提交" class="add" id="commit" />
    <div id="test"></div>
{% endblock %}